@import url('https://fonts.googleapis.com/css?family=Nunito');

.img {
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 62.5%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 50px;
}

.navbar {
  background-color: transparent;
}

.navbar .nav-item {
	position: relative;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
}

html {
  height: 100%;
}

body {
	padding-bottom: 75px;
}


.home {
  background: url('../images/photo1.jpg') no-repeat center center;
  background-size: cover;
	height: 100%;
}

.niethome {
	background-color: #FFDD00;
	padding-bottom: 0;	
}

.round-images {
	text-align: center;
}

.round-images img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	text-align: center;
}

/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
  text-align: right;
	margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoYelp:hover {
	background-color:#CB2027;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i, .social-network a.icoYelp:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-circle a {
  background-color: #D3D3D3;
 }

.icoFacebook {
	align-content: right;
}

.navbar-nav {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	width: 100%;
}
/*
.navbar-toggler-right {
	position: relative;
}
*/
.footer {
	height: 40px;
	font-size: 10pt;
	padding: Opx;
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}

h2 {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
	text-align: left;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 30px;
}

.logo {
padding-left: 70px;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
width: 220px;
}

.footerfont {
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 70px;
	color: black;
}

#aboutustext {
	padding-left: 40px;
	padding-right: 70px;
}

p {
	line-height: 27px;
	color: black;
	font-family: 'Nunito', sans-serif;
}

#aboutustitle {
	padding-left: 40px;
}

#foodtitle {
	padding-left: 80px;
}

#tekstlinks {
	text-align: left;
	padding-left: 80px;
	padding-right: 80px;
}


#upcomingeventstext{
	padding-left: 80px;
	padding-right: 40px;
}

#upcomingeventstitle{
	padding-left: 80px;
}

#contacttitle {
	padding-left: 80px;
}

#contacttext {
	padding-left: 80px;
	padding-right: 40px;
}

.form-group {
	padding-left: 80px;
	padding-right: 40px;
}

#bookustitle {
	padding-left: 80px;
}

#bookustext {
	padding-left: 80px;
	padding-right: 40px;
}



@media screen and (max-width: 480px) {
	#tekstlinks {
		padding-left: 30px;
		padding-right: 30px;
	}

	.round-images h2 {
		padding-left: 30px;
		padding-right: 30px;
	}
}


@media screen and (max-width: 767px) {
	.top .social-network {
		display: none;
	}

	.navbar .nav-item, .navbar a.dropdown-item {
		text-align: right;
		color: black;
	}

	.nietzichtbaar {
		display: none;
	}
}

