@import url('https://fonts.googleapis.com/css?family=Nunito');

/* navigatie */

.navbar {
	background-color: transparent;
}

.navbar .nav-item {
	position: relative;
}

.navbar-nav {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	width: 100%;
	font-family: 'Nunito', sans-serif;
}

.logo {
	padding-left: 70px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 220px;
}

ul {
	list-style-type: none;
}

.socialmediayoutube {
	width: 25px;
	height: 25px;
	display: inline-block;
	position: absolute;
	right: 80px;
	top: 10px;
}

.socialmediafacebook {
	width: 25px;
	height: 25px;
	display: inline-block;
	position: absolute;
	right: 115px;
	top: 10px;
}

.navbar-light .navbar-nav .nav-link {
	color: black;
}

.navbar-light .navbar-nav .open>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.active {
	color: white;
	text-transform: uppercase;
}

.home .navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-collapse .justify-content-end .home-navigatie .collapse .show {
	text-align: right;
}


/* afbeeldingen */

.img {
	margin-right: -15px;
	margin-left: -15px;
	padding-bottom: 62.5%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 50px;
}

.round-images {
	text-align: center;
}

.round-images img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	text-align: center;
}


/* allerlei */

html {
	height: 100%;
}


/* footer */

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	color: black;
	text-align: left;
	padding-top: 3px;
	padding-left: 10px;
	height: 30px;
	font-size: 10pt;
}

.footerfont {
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	padding-left: 70px;
	color: black;
}

.socialmediayoutubefooter {
	width: 25px;
	height: 25px;
	display: inline-block;
	position: absolute;
	right: 80px;
	bottom: 19px;
}

.socialmediafacebookfooter {
	width: 25px;
	height: 25px;
	display: inline-block;
	position: absolute;
	right: 115px;
	bottom: 19px;
}


/* midden */

.home {
	background: url('../images/photo1.jpg') no-repeat center center;
	background-size: cover;
	height: 100%;
}

.aboutus {
	background-color: #FFDD00;
	padding-bottom: 0px;
}

.aboutustitle {
	padding-left: 40px;
}

.aboutustext {
	padding-left: 40px;
	padding-right: 70px;
}

.food {
	background-color: #FFDD00;
	padding-bottom: 30px;
}

.foodtitle {
	padding-left: 80px;
}

.foodtext {
	text-align: left;
	padding-left: 80px;
	padding-right: 80px;
}

.upcomingevents {
	background-color: #FFDD00;
	padding-bottom: 0;
}

.upcomingeventstitle {
	padding-left: 80px;
}

.upcomingeventstext {
	padding-left: 80px;
	padding-right: 40px;
}

.contact {
	background-color: #FFDD00;
	padding-bottom: 0;
}

.contacttitle {
	padding-left: 80px;
}

.contacttext {
	padding-left: 80px;
	padding-right: 40px;
}

.bookus {
	background-color: #FFDD00;
	padding-bottom: 0;
}

.bookustitle {
	padding-left: 80px;
}

.bookustext {
	padding-left: 80px;
	padding-right: 40px;
}


/* button */

.btn-primary {
	text-align: center;
	border-radius: 20px;
	color: black;
	background-color: white;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border: transparent;
	box-shadow: 2px 2px 0px 1px black;
}

.btn-primary.aboutusbutton {
	margin-left: 40px;
}

.btn-primary.contactbutton {
	margin-left: 80px;
}

.btn-primary.contactbutton.radioformbutton {
	margin-left: 40px;
}

.btn-primary:hover {
	background-color: black;
	color: white;
}

.btn-primary:active {
	position: relative;
	top: 1px;
	color: #FFDD00;
}

a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: white;
	background-color: transparent;
	text-decoration: underline;
	font-weight: bold;
}

a:active {
	color: black;
	background-color: transparent;
	text-decoration: underline;
	font-weight: bold;
	text-transform: uppercase;
}

/* form */

.form-group {
	padding-right: 40px;
	margin-left: 80px;
}

.form-control {
	border-radius: 20px;
	color: black;
	background-color: white;
	font-family: 'Nunito', sans-serif;
	font-style: italic;
	box-shadow: 0px 1px 0px 1px black;
}

.form-address {
	border-radius: 20px;
	color: black;
	background-color: white;
	font-family: 'Nunito', sans-serif;
	font-style: italic;
	box-shadow: 0px 1px 0px 1px black;
	margin-left: 40px;
	margin-right: -100px;
	width: 600px;
}

.btn-primary.contactbutton.address {
	margin-left: 40px;
	margin-top: 17px;
}

.newsletterform {
}

.radioform {
	padding-left: 40px;
	border-radius: 20px;
	color: black;
	font-family: 'Nunito', sans-serif;
}

div.radioform {
	padding-bottom: 20px;
}


/* tekst */

h1 {
	font-family: 'Nunito', sans-serif;
	font-weight: Bold;
	text-transform: uppercase;
	color: black;
	font-size: 25pt;
	padding-top: 20px;
	padding-bottom: 25px;
}

h2 {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
	text-align: left;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 30px;
	font-size: 20pt;
}

h3 {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding-top: 250px;
	font-size: 40pt;
}

p {
	line-height: 27px;
	color: black;
	font-family: 'Nunito', sans-serif;
}

.unsubscribe {
	font-size: 12px;
	line-height: 15px;
	padding-top: 260px;
}

@media screen and (max-width: 480px) {
	.foodtitle {
		padding-left: 30px;
	}
	.foodtext {
		padding-left: 30px;
		padding-right: 30px;
	}
	.round-images h2 {
		padding-left: 30px;
		padding-right: 30px;
	}
	.contacttitle {
		padding-left: 30px;
	}
	.contacttext {
		padding-left: 30px;
		padding-right: 30px;
	}
	.btn-primary.aboutusbutton {
		margin-left: 40px;
	}
	.btn-primary.contactbutton {
		margin-left: 30px;
	}
	.form-control {
		margin-left: -50px;
	}
	.aboutustext {
		padding-right: 30px;
	}
	.bookustitle {
		padding-left: 30px;
	}
	.bookustext {
		padding-left: 30px;
		padding-right: 30px;
	}
	.upcomingeventstitle {
		padding-left: 30px;
	}
	.upcomingeventstext {
		padding-left: 30px;
		padding-right: 30px;
	}
	.logo {
		padding-left: 20px;
	}
	.food {
		padding-bottom: 50px;
	}
	.dessert {
		padding-bottom: 50px;
	}
	.drinks {
		padding-bottom: 50px;
	}
	.footerfont {
		padding-left: 20px;
	}
	.socialmediayoutubefooter {
		width: 25px;
		height: 25px;
		display: inline-block;
		position: absolute;
		right: 30px;
		bottom: 35px;
	}
	.socialmediafacebookfooter {
		width: 25px;
		height: 25px;
		display: inline-block;
		position: absolute;
		right: 67px;
		bottom: 35px;
	}
	.socialmediayoutube {
		display: none;
	}
	.socialmediafacebook {
		display: none;
	}
	.nietzichtbaar {
		display: none;
	}
	#map {
		min-height: 400px;
	}
	h3 {
		font-size: 35px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 190px;
		line-height: 40px;
	}
	.unsubscribe {
		padding-top: 230px;
	}
	.newsletterform {
		margin-left: 10px;
	}
	.img-fluid.nietzichtbaar {
		display: none;
	}
	.form-address {
		margin-left: 40px;
		margin-right: -100px;
		width: 300px;
	}
}

@media screen and (max-width: 767px) {
	.social-network-navigatie {
		display: none;
	}
	.navbar .nav-item,
	.navbar a.dropdown-item {
		text-align: right;
		color: black;
	}
	#map {
		min-height: 400px;
	}
}